<footer>
    <div id="footer-menus">
        <nav role="navigation" id="menu-1" class="menu">
            <ul class="nav-container">
                {% for link in linklists[section.settings.menu_first].links %}
                    {% if link.links != blank %}
                        <input type="checkbox" id="nav-item-first" />
                        <label for="nav-item-first"><span class="navicon"></span></label>
                    {% endif %}

                    <li class="nav-item {% if link.links != blank %} has-dropdown{% endif %} {% if forloop.index == 6 or forloop.index == 8 %} nav-divider{% endif %}">
                    <a href="{{ link.url }}">
                        {{ link.title }}
                    </a>

                    {% if link.links != blank %}
                        <span class="nav-dropdown">
                        {% for childlink in link.links %}
                            <a href="{{ childlink.url }}">
                                {{ childlink.title }}
                            </a>
                            {% endfor %}
                        </span>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <nav role="navigation" id="menu-2" class="menu">
            <ul class="nav-container">
                {% for link in linklists[section.settings.menu_second].links %}
                    {% if link.links != blank %}
                        <input type="checkbox" id="nav-item-second" />
                        <label for="nav-item-second"><span class="navicon"></span></label>
                    {% endif %}

                    <li class="nav-item {% if link.links != blank %} has-dropdown{% endif %} {% if forloop.index == 6 or forloop.index == 8 %} nav-divider{% endif %}">
                    <a href="{{ link.url }}">
                        {{ link.title }}
                    </a>

                    {% if link.links != blank %}
                        <span class="nav-dropdown">
                        {% for childlink in link.links %}
                            <a href="{{ childlink.url }}">
                                {{ childlink.title }}
                            </a>
                            {% endfor %}
                        </span>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

    <div id="social-menu">
        <h4>{{ section.settings.social_media_label }}</h4>
        <div class="social-media-links">
            <div class="social-media-link">
                <a href="{{ settings.social_facebook_link }}"><img src="{{ section.settings.social_facebook_icon | img_url: 'master' }}" /></a>
            </div>
            <div class="social-media-link">
                <a href="{{ settings.social_instagram_link }}"><img src="{{ section.settings.social_instagram_icon | img_url: 'master' }}" /></a>
            </div>
            <div class="social-media-link">
                <a href="{{ settings.social_twitter_link }}"><img src="{{ section.settings.social_twitter_icon | img_url: 'master' }}" /></a>
            </div>
        </div>
    </div>
</footer>


{% schema %}
{
"name": "Footer",
"settings": [
    {
    "type": "link_list",
    "id": "menu_first",
    "label": "Footer Menu 1"
    },
    {
    "type": "link_list",
    "id": "menu_second",
    "label": "Footer Menu 2"
    },
    {
    "type": "text",
    "id": "social_media_label",
    "label": "Social Media Label",
    "default": "Follow Us"
    },
    {
    "type": "image_picker",
    "id": "social_facebook_icon",
    "label": "Facebook icon"
    },
    {
    "type": "image_picker",
    "id": "social_instagram_icon",
    "label": "Instagram icon"
    },
    {
    "type": "image_picker",
    "id": "social_twitter_icon",
    "label": "Twitter icon"
    }
]
}
{% endschema %}
